* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items: center;
    background-image: linear-gradient(#0c3104,#042f0d,#107514,#23e815,#17ff33);
}
.retangulo {
    width:1200px;
    height:700px;
    background-color: #042f0d;
    box-shadow: 0px 0px 10px 10px;
    margin-top: 20px;
    position: absolute;
    display: flex;
    justify-content:center;
    align-items:center;
}
.losango {
    position: absolute;
    border-left: 600px solid transparent;
    border-right: 600px solid transparent;
    border-bottom: 350px solid yellow;
    top: 0;


}
.losango2 {
    position: absolute;
    border-left: 600px solid transparent;
    border-right: 600px solid transparent;
    border-top: 350px solid yellow;
    bottom:0;


}
.circulo {
    position: absolute;
    width: 500px;
    height: 500px;
    background-color:blue;
    border-radius: 50%;
    overflow: hidden;


}

.faixa {
    position: absolute;
    width: 700px;
    height: 700px;
    border: 30px solid white;
    border-radius: 50%;
    top: 140px;
    left: -170px;
}
.music-player-container {
    position: fixed;
    top: 30px; 
    left: 50%;     
    transform: translateX(-50%);
    margin-top: 30px; 
    
}

.custom-player {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


    
}





.custom-player button {
    background: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    

}

.custom-player button:hover {
    transform: scale(1.1);
}

.track-info .song-title {
    color: #fff;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.time-container {
    color: #fff;
    font-family: 'Arial', sans-serif;
    font-size: 0.9em;
}

#volumeSlider {
    -webkit-appearance: none;
    width: 80px;
    height: 6px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    outline: none;
}

#volumeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

#volumeSlider::-webkit-slider-thumb:hover {
    background: #c3c3c3;
   
}



